// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * HDZero Goggle (Allwinner V536), minimal bring-up devicetree.
 */

/dts-v1/;
#include "sun8i-v536.dtsi"

/ {
	model = "HDZero Goggle";
	compatible = "hdzero,goggle", "allwinner,sun8i-v536";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		bootargs = "earlycon=uart8250,mmio32,0x05000000 console=ttyS0,115200 loglevel=8";
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0x40000000>;
	};

	reg_vcc3v3: vcc3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};
};

&mmc0 {
	vmmc-supply = <&reg_vcc3v3>;
	bus-width = <4>;
	broken-cd;
	max-frequency = <50000000>;
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	pinctrl-0 = <&i2c3_pi_pins>;
	status = "okay";
};

&uart0 {
	/* Pins are muxed by the boot loader until pinctrl support exists. */
	status = "okay";
};
